<!DOCTYPE html>
<html lang="en" dir="ltr">
   {% include 'head.html' %}

  <body>
 {% include 'nav.html' %}

    </div>

    <canvas id="myChart" width="100" height="50"></canvas>
    <script>
      function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min; //Максимум не включается, минимум включается
}
const a = 2936;
const b = 30904  ;
const c = 48727  ;
const d = 107527;
const e = 156458 ;
const f = 206698 ;
const g = 89951  ;
const h = 528383  ;
const i = 133174;
const j = 104567 ;
const k = 145368 ;

    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['1.03.2020', '1.05.2020', '1.07.2020', '1.09.2020', '1.11.2020', '1.01.2021', '1.03.2021', '1.05.2021', '1.07.2021', '1.09.2021', '1.10.2021'],
            datasets: [{
                label: 'График выздоравливания от коронавируса в мире',
                data: [a, b, c, d, e, f, g, h, i, j, k],
                backgroundColor: [
                    'rgba(120, 180, 40, 1)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 150, 152, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
  </body>
</html>
