<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include 'head.html' %}

  <body>
 {% include 'nav.html' %}

    <canvas id="myChart" width="100" height="50"></canvas>
   <script>
      function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min; //Максимум не включается, минимум включается
}
const a = 54;
const b = 5471;
const c = 5326;
const d = 6663;
const e = 5122;
const f = 10114;
const g = 7656;
const i = 13316;
const h = 8667;
const l = 12509;   
const k = 8581;
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['01.03.2020', ' 01.05.2020', '01.07.2020', '01.09.2020', '01.11.2020', '01.01.2021', '01.03.2021', '01.05.2021', '01.07.2021', '01.9.2021', '01.10.2021'],
            datasets: [{
                label: 'График смертности коронавируса в мире',
                data: [a, b, c, d, e, f, g, i, h, l, k],
                backgroundColor: [
                    'rgba(44, 51, 55, 0.9)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(120, 180, 40, 0.2)'
                ],
                borderColor: [
                    'rgba(225, 0, 0, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(120, 180, 40, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
  </body>
</html>
