<!DOCTYPE html>
<html lang="en" dir="ltr">
   {% include 'head.html' %}

  <body>
 {% include 'nav.html' %}

    <canvas id="myChart" width="100" height="50"></canvas>
    <script>
      function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min; //Максимум не включается, минимум включается
}
const a = 31719; // Декабрь
const b = 12694839  ; // Январь
const c = 57302042  ; // Февраль
const d = 140808661; // Март
const e = 281778787 ; // Апрель
const f = 443474096 ; // Май
const g = 642104335; // Июнь
const h = 919599792; // Июль
const i = 2139180034; // Август
const j = 2659043584; // Сеньтябрь
const k = 3050178289; // Октябрь
const l = 3136569073; // Ноябрь
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Декабрь', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сеньтябрь', 'Октябрь', 'Ноябрь'],
            datasets: [{
                label: 'График вакцинации в мире',
                data: [a, b, c, d, e, f, g, h, i, j, k, l],
                backgroundColor: [
                    'rgba(120, 180, 40, 1)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 150, 152, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(120, 180, 40, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(120, 180, 40, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
  </body>
</html>
