<!DOCTYPE html>
<html lang="en" dir="ltr">
   {% include 'head.html' %}

  <body>
 {% include 'nav.html' %}

    <canvas id="myChart" width="100" height="50"></canvas>
    <script>
      function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min; //Максимум не включается, минимум включается
}
const a = 89946; // Январь
const b = 992532  ; // Февраль
const c = 4473204  ;// Март
const d = 7581447; // Апрель
const e = 1263989 ; // Май
const f = 17474028 ;  // Июнь
const g = 25941463;  // Июль
const h = 36661164;  // Август
const i = 42327521;  // Сеньтябрь
const j = 47582515;  // Октябрь
const k = 49999942;  // Ноябрь
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сеньтябрь', 'Октябрь', 'Ноябрь'],
            datasets: [{
                label: 'График вакцинации в России',
                data: [a, b, c, d, e, f, g, h, i, j, k],
                backgroundColor: [
                    'rgba(120, 180, 40, 1)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 150, 152, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
  </body>
</html>
