<!DOCTYPE html>
<html lang="en" dir="ltr">
   {% include 'head.html' %}

  <body>
 {% include 'nav.html' %}

    <canvas id="myChart" width="100" height="50"></canvas>
    <script>
      function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min; //Максимум не включается, минимум включается
}
const a = 807; // Январь
const b = 6799  ; // Февраль
const c = 92190  ;// Март
const d = 62701; // Апрель
const e = 85566 ; // Май
const f = 131929 ;  // Июнь
const g = 142002;  // Июль
const h = 596220;  // Август
const i = 663082;  // Сеньтябрь
const j = 157571;  // Октябрь
const k = 292975;  // Ноябрь
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['06.01.21', '01.02.21', '01.03.21', '01.04.21', '01.05.21', '01.06.21', '01.07.21', '01.08.21', '01.09.21', '01.10.21', '01.11.21'],
            datasets: [{
                label: 'График вакцинации в России',
                data: [a, b, c, d, e, f, g, h, i, j, k],
                backgroundColor: [
                    'rgba(120, 180, 40, 1)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 150, 152, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
  </body>
</html>
